<h2>Add Book</h2>
<p *ngIf="!isLoggedIn">You need to be logged in.</p>
<form *ngIf="isLoggedIn" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <label>
    Title:
    <input type="text" formControlName="title" />
  </label>
  <br />

  <label>
    Author:
    <input type="text" formControlName="author" />
  </label>
  <br />

  <label>
    Publishing Date:
    <input type="date" formControlName="publishingDate" />
  </label>
  <br />

  <button type="submit" [disabled]="bookForm.invalid">Add Book</button>
</form>

<hr />

<h2>Books</h2>
<p *ngIf="!isLoggedIn">You need to be logged in.</p>
<ul>
  <li *ngFor="let book of books">
    <div *ngIf="editingId !== book.id">
      <strong>{{ book.title }}</strong> by {{ book.author }}
      <br />
      Published on: {{ book.publishingDate | date: 'longDate' }}
      <span *ngIf="isLoggedIn">
        <button (click)="startEdit(book)">Edit</button>
        <button (click)="deleteBook(book.id)">Delete</button>
      </span>
    </div>

    <!-- Reactive edit form -->
    <form
      *ngIf="editingId === book.id"
      [formGroup]="editForm"
      (ngSubmit)="saveEdit()"
    >
      <input formControlName="title" placeholder="Title" />
      <input formControlName="author" placeholder="Author" />
      <input type="date" formControlName="publishingDate" />
      <button type="submit">Save</button>
      <button type="button" (click)="cancelEdit()">Cancel</button>
    </form>
  </li>
</ul>
