<h1>Home</h1>
<p>Welcome to the Book & Quotes Management System!</p>
<div *ngIf="!isLoggedIn" class="alert alert-warning">
  You need to be logged in.
</div>
<div *ngIf="isLoggedIn">
  <h2>Books</h2>
  <ul>
    <li *ngFor="let book of books">
      <div *ngIf="editingId !== book.id">
        <strong>{{ book.title }}</strong> by {{ book.author }}
        <br />
        Published on: {{ book.publishingDate | date: 'longDate' }}
        <span>
          <a
            [routerLink]="['/edit-book', book.id]"
            class="btn btn-sm btn-outline-primary me-2"
          >
            <i class="fas fa-edit"></i> Edit
          </a>
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="deleteBook(book.id)"
          >
            <i class="fas fa-trash"></i> Delete
          </button>
        </span>
      </div>
    </li>
  </ul>
</div>
