<nav class="navbar">
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a routerLink="/books" routerLinkActive="active">Books</a>
  <a routerLink="/quotes" routerLinkActive="active">Quotes</a>

  <ng-container *ngIf="isLoggedIn; else guestLinks">
    <a (click)="logout()" href="#">Logout</a>
  </ng-container>

  <ng-template #guestLinks>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
  </ng-template>
</nav>
